<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>wang.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>wang.registerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>wang.updateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dakaServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>wang.dakaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bossServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>wang.bossServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/servlet/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/servlet/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dakaServlet</servlet-name>
    <url-pattern>/servlet/dakaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bossServlet</servlet-name>
    <url-pattern>/servlet/bossServlet</url-pattern>
  </servlet-mapping>

</web-app>